<div>DBS Map Tool</div>

<div class="row">

	<div class="form-inline col-lg-3">

		<div class="form-group">
			<input type="text" class="form-control" id="projectId" placeholder="Enter project id" [(ngModel)]="projectId" required>
		</div>
		<button (click)="loadFields()" class="btn btn-default" id="loadFields">Load fields</button>
	</div>
    <button (click)="saveMappings(fields)" class="btn btn-default" id="loadFields">Save</button>
</div>
<br />
<div class="row">

	<div class="col-lg-6 ">

		<div class="col-lg-10">

			<div class="panel panel-info">
				<!-- TODO issue with bootstrap data-toggle approach -->
				<div class="panel-heading text-center">
					Fields
					<span class="right glyphicon glyphicon-menu-down" onclick="$('#dbsmaptool_fields').collapse('toggle')" type="button"></span>
				</div>
				<div class="panel-body collapse in" id="dbsmaptool_fields">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Field Name</th>
								<th>Destination Field</th>
								<th>Map</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let field of fields " [class.disabled]="field | isDisabledField">
								<td style="width: 33%"><input [(ngModel)]="field.Checked" [class.disabled]="field | isDisabledField" type="checkbox">{{field.FieldName}}</td>
								<td style="width: 33%">{{field.DestinationField}}</td>
								<td style="width: 33%">{{field.Map}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-2">
			<button (click)="setProfileMap()" class="horizontal-butt btn btn-primary">Profile</button>
			<button (click)="setSurveyMap()" class="horizontal-butt btn btn-primary">Survey</button>
			<button (click)="setPanelistMap()" class="horizontal-butt btn btn-primary">Panelist</button>
		</div>

	</div>

	<div class="col-lg-6">

		<div class="panel panel-info">
			<!-- TODO issue with bootstrap data-toggle approach -->
			<div class="panel-heading text-center">
				Profile Map
				<span class="right glyphicon glyphicon-menu-down" onclick="$('#dbsmaptool_profilemaps').collapse('toggle')" type="button"></span>
			</div>
			<div class="panel-body collapse in" id="dbsmaptool_profilemaps">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Field Name</th>
							<th>Destination Field</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let profileMap of fields | fieldMappings: 'ProfileMap' ">
							<td style="width: 50%">{{profileMap.FieldName}}<span class="glyphicon glyphicon-remove" (click)="resetFieldMap(profileMap)"></span></td>
							<td style="width: 50%"><input required class="form-control" [(ngModel)]="profileMap.DestinationField" /></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div class="panel panel-info">
			<!-- TODO issue with bootstrap data-toggle approach -->
			<div class="panel-heading text-center">
				Survey Map
				<span class="right glyphicon glyphicon-menu-down" onclick="$('#dbsmaptool_surveymaps').collapse('toggle')" type="button"></span>
			</div>
			<div class="panel-body collapse in" id="dbsmaptool_surveymaps">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Field Name</th>
						<th>Destination Field</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let surveyMap of fields | fieldMappings: 'SurveyMap' ">
						<td style="width: 50%">{{surveyMap.FieldName}}<span class="glyphicon glyphicon-remove" (click)="resetFieldMap(surveyMap)"></span></td>
						<td style="width: 50%"><input required class="form-control" [(ngModel)]="surveyMap.DestinationField"/></td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div class="panel panel-info">
			<!-- TODO issue with bootstrap data-toggle approach -->
			<div class="panel-heading text-center">Panelist Map
				<span class="right glyphicon glyphicon-menu-down" onclick="$('#dbsmaptool_panelist').collapse('toggle')" type="button"></span>
			</div>
			<div class="panel-body collapse in" id="dbsmaptool_panelist">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Field Name</th>
						<th>Destination Field</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let panelist of fields | fieldMappings: 'PanelistMap' ">
						<td style="width: 50%">{{panelist.FieldName}}<span class="glyphicon glyphicon-remove" (click)="resetFieldMap(panelist)"></span></td>
						<td style="width: 50%"><input required class="form-control" [(ngModel)]="panelist.DestinationField"/></td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>


