@using Microsoft.AspNet.Identity;
@{
//Layout = null;
}
@Styles.Render("~/Content/IndexPage")
<link href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
      rel="stylesheet"
      type="text/css">
<link href="~/Content/Home/jquery.tag-editor.css" rel="stylesheet" type="text/css" />

<body>

    <label id="topTags" onclick="Show_Hide()">Top 10 tags</label>

    <div class="row topTags" style="display:none;">
        @Html.Partial("_TopTags")
    </div>
  

    <div class="page-content notes-board" data-bind="template: { name:'notes-board', data: $data}">
    </div>

    <br />
    <script type="text/html" id="notes-board">


        <h1 class="tagName"></h1>


        <label data-bind="click: $root.AddList" class="addItemLabel">Add new list</label>


        <ul class="toDoList" data-bind="foreach:{data: toDoLists }">

            <li>

                <a>
                    <h1 class="text-center">

                        <span data-bind="inline: Name" class="text-center"></span>
                        <span class="iconRight" data-bind="click: $root.removeList"><strong>X</strong></span>
                        <span class="btn glyphicon glyphicon-plus" data-bind="click: $root.AddItem.bind($data.Items)"></span>
                    </h1>

                    @*<ul data-bind="foreach: Tags" class="tags">
                            <li><span data-bind="text: Name"></span></li>
                        </ul>*@

                    <div data-bind="template:{ afterRender: findTag}">
                        <div data-bind="template: { afterRender: bindTagsEditor  }">
                            <input type="text" class="tag-editor" />
                        </div>
                    </div>
                    <ul class="items" data-bind="foreach: {data:Items }">
                        <li>
                            <input type="checkbox" data-bind="checked: IsCompleted" />
                            <label data-bind="inline: Text, css: {lineThrough:  IsCompleted} "></label>
                            <span data-bind="click: $root.removeItem.bind($data, $parent)" class="btn icon delicon glyphicon glyphicon-remove"></span>
                        </li>
                    </ul>

                </a>
            </li>

        </ul>
    </script>

</body>

@section scripts{
    <script src="~/Scripts/HomePage/jquery.tag-editor.min.js"></script>
    <script src="~/Scripts/HomePage/jquery.tag-editor.js"></script>
    <script src="~/Scripts/HomePage/jquery.caret.min.js"></script>
    <script src="~/Scripts/HomePage/TopTags.js"></script>
    <script src="~/Scripts/jquery.canvasjs.min.js"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/knockoutHomePage")

    <script>
        $(document).ready(function () {
         
        });
    </script>
}