.notes-board * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Reenie Beanie',serif;
    font-size: 28px;
    margin: 3em;
    background: #666;
    color: #fff;
}

.tagName {
    font-size: 30px;
    color: white;
    text-align: center;
    color: #0C9CCC;
}

    .tagName i {
        line-height: 18px;
        display: inline-block;
    }

        .tagName i:before {
            font-size: 35px;
            color: #0C9CCC;
            content: "×";
            font-style: normal;
        }

    /*.tagName>i:hover {
            color: #d65454;
        }*/
    .tagName span {
        margin-right: 5px !important;
    }

.tags li {
    list-style: none !important;
    padding: 0 !important;
}

input[type="submit"] {
    font-size: 22px;
}

input[type="email"], input[type="password"] {
    font-size: 24px !important;
}

.btn input[type="file"] {
    position: absolute !important;
    top: 0;
    left: 0;
    font-size: 25px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.btn-default {
    position: relative;
}

    .btn-default input[type="file"] {
        opacity: 0;
    }

a {
    font-size: 28px;
    color: #fff;
}

    button, a.btn {
        background-color: #e6e6e6;
        color: #333;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        text-shadow: none;
        display: inline-block;
        cursor: pointer;
    }

.iconRight {
    float: right;
}

.iconRight {
    float: right;
}

.notes-board .lineThrough {
    text-decoration: line-through;
}

.notes-board ul, .notes-board li {
    list-style: none;
}

.notes-board ul {
    overflow: hidden;
    padding: 0.5em;
}

.notes-board .items {
    padding: 0;
}

.notes-board ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: auto;
    width: 13em;
    padding: 1.1em;
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7) !important;
    -moz-transition: -moz-transform .15s linear !important;
    -webkit-transform: rotate(-6deg) !important;
    -o-transform: rotate(-6deg) !important;
    -moz-transform: rotate(-6deg) !important;
    -o-transition: -o-transform .15s linear !important;
    -webkit-transition: -webkit-transform .15s linear !important;
}

.notes-board ul li:nth-child(even) a {
    -o-transform: rotate(4deg) !important;
    -webkit-transform: rotate(4deg) !important;
    -moz-transform: rotate(4deg) !important;
    position: relative !important;
    top: 5px !important;
    background: #cfc !important;
}

.notes-board ul li:nth-child(3n) a {
    -o-transform: rotate(-3deg) !important;
    -webkit-transform: rotate(-3deg) !important;
    -moz-transform: rotate(-3deg) !important;
    position: relative !important;
    top: -5px !important;
    background: #ccf !important;
}

.notes-board ul li:nth-child(5n) a {
    -o-transform: rotate(5deg) !important;
    -webkit-transform: rotate(5deg) !important;
    -moz-transform: rotate(5deg) !important;
    position: relative !important;
    top: -10px !important;
}

.notes-board ul li a:hover, .notes-board ul li a:focus {
    -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7) !important;
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7) !important;
    box-shadow: 10px 10px 7px rgba(0,0,0,.7) !important;
    -webkit-transform: scale(1.25) !important;
    -moz-transform: scale(1.25) !important;
    -o-transform: scale(1.25) !important;
    position: relative !important;
    z-index: 5 !important;
    cursor: default;
}

.notes-board ul li {
    margin: 0.4em;
    float: left;
}

    .notes-board ul li h2 {
        font-size: 140%;
        font-weight: bold;
        padding-bottom: 10px;
    }

.notes-board label:hover {
    opacity: 0.8;
}

.notes-board li h1 strong:hover {
    opacity: 0.8;
    cursor: pointer;
}

.addItemLabel:hover, .addItemLabel:focus {
    opacity: 0.8;
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
